.footer {
  background-color: #fff;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  color: var(--black);
  font-size: 2.4rem;
  padding: 1rem 0;
}

.footer .box-container .box h3 i {
  color: var(--orange);
}

.footer .box-container .box .links {
  display: block;
  font-size: 1.5rem;
  color: var(--light-gray);
  padding: 1rem 0;
}

.footer .box-container .box .links i {
  padding-right: 5px;
  color: var(--orange);
}

.footer .box-container .box .links:hover i {
  padding-right: 1.5rem;
}

.footer .box-container .box p {
  line-height: 1.8;
  font-size: 1.5rem;
  color: var(--light-gray);
  padding: 1rem 0;
}

.box .share {
  margin-top: 1rem;
}

.box .share .share-links i{
  height: 3.5rem;
  width: 3.5rem;
  line-height: 4rem;
  border-radius: 6px;
  font-size: 2rem;
  color: var(--black);
  margin-right: 10px;
  background-color: #eee;
  text-align: center;
}

.box .share .share-links i:hover {
  background-color: var(--orange);
  color: #fff;
}

.footer .box-container .box .email {
  width: 100%;
  background-color: #eee;
  padding: 1rem;
  margin: 0.7rem 0;
  color: var(--black);
  font-size: 1.5rem;
  text-transform: none;
}

.footer .box-container .box .payment-img {
  margin-top: 2rem;
  height: 3rem;
  cursor: pointer;
}

.footer .credit {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  color: var(--light-gray);
}

@media (max-width: 450px) {
  .footer .box-container .box .payment-img {
    margin-left: 10px;
  }
}
